<h1>List of all Articles</h1>
<p><%= link_to "Create New Article", new_article_path %></p>

<div class="row">
    <div class="mx-auto">
        <%= will_paginate %>
    </div>
</div>
    <%= render 'article', obj: @articles %>

<div class="row">
    <div class="mx-auto">
        <%= will_paginate %>
    </div>
</div>