$light:  #eeee;
$yiq-text-dark: #fff;

@import "bootstrap";

.logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: bold;
}

.logo:hover {
    color: #fff;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('cover.jpg');
    background-size: cover;
    heigh: 550px;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlg {
    background-color: black;
    border-color: black;
}

.btn-xlg:hover {
    background-color: #ff6666;
    border-color: #ff6666;
}

.footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.body {
    margin-top: 15px;
}

.form-group {
    text-align: left;
}

.col-form-label {
    text-align: right;
    font-weight: bold;
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}