<h1><%= "Category: " + @category.name %></h1>

<div class="row">
    <div class="mx-auto">
        <%= will_paginate @category_articles %>
    </div>
</div>
    <%= render 'articles/article', obj: @category_articles %>

<div class="row">
    <div class="mx-auto">
        <%= will_paginate @category_articles%>
    </div>
</div>